# python==3.11.11
numpy
Gymnasium>=1.0.0
setuptools>=61.2.0
scipy
pandas
memory-profiler
matplotlib
scikit-learn
# tensorflow refer to Apple to install
# tensorflow-macos
# tensorflow-metal refer to Apple to install